.card {
    background: #1F2937;
    margin: 2rem;
    padding: 7.375rem 3.25rem 3.25rem 3.25rem; 
    color: #FFFFFF;
    max-width: 34.375rem;
    max-height: 44.375rem;
    
    h1 {
        font-size: 2.5rem;
        line-height: 2.5rem;
        padding-bottom: 1rem;
    }

    strong {
        color: #10B981;
    }
    &__text {
        border-bottom:1px solid #2F3E53;
        padding-bottom: 2rem;

        p {
            color: #D5D4D8;
            font-size: 1.25rem;
            line-height: 1.75rem;
            letter-spacing: .1rem;
        }

        &__btn {
            margin-top: 3.1875rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
        }

        .input-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                font-size: 1rem;
            }

            .strength {
                font-size: .8rem;
                color: red;
            }

            .input-box {
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 1;
      

                input {
                    background: transparent;
                    border: none;
                    text-align: center;
                    max-width: 3.5rem;
                    color: $clr-light;
                    font-size: 1.4rem;
                }
                input:focus {
                    outline: none;                    
                }
            }
        }
    }

    &__password {
        margin-top: 2.1875rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.6875rem;
        position: relative;
        
        &__item {
            flex-basis: 45%;
            width: 13.125rem;
            height: 2.5rem;
            background: #273549;
            border-radius: 6px;
            text-align: center;
            line-height: 2.7;
            cursor: pointer;
            color: $clr-green;
        }

        span {
            position: absolute;
            font-size: .85rem;
            width: 55px;
            height: 20px;
            background: $clr-green;
            border-radius: 3px;
            border: none;
            color: $clr-light;
            right: 14.8125rem;
            top: 2.625rem;
            text-align: center;
            font-weight: 500;
            z-index: 2;
            line-height: 1.5;
            opacity: 0;
        }
    }
}

@media (max-width: 650px){
    .card {
        margin: 0;
        padding: 1.5rem;

        &__text {
            text-align: center;

            &__btn {
                gap: 0rem;
            }
        }

        &__password {
            gap: .2rem;
            font-size: .75rem;
            line-height: 1.7;

            &__item {
                line-height: 3.5;
            }

            #mobilepopup {
                right: 5.3125rem;
                opacity: 0;
                right: 210px;
            }
        }
    }
}
