button {
    cursor: pointer;
    border: none;
}
button:active {
    transform: scale(.985);
}

.generate-btn {
    background: $clr-green;
    color: $clr-light;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5625rem 1.25rem 0.5625rem 0;
    font-weight: 500;
    border-radius: 0.375rem;
    width: 14.0625rem;
    height: 2.8125rem;

    rect {
        fill: $clr-green;
    }
}

.input-btn {
    background: transparent;
    color: $clr-green;
    font-size: 1.5rem;
    font-weight: 500;
}

.input-btn:active {
    transform: scale(.955);
    color: #10b981a9;
}




