/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
    scroll-behavior: smooth;
  }

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;
}

button:focus {
  outline: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

input,
button {
  font: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

