/* Colors */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: #1C1C1C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Inter;
}

button:focus {
  outline: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

input,
button {
  font: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

.card {
  background: #1F2937;
  margin: 2rem;
  padding: 7.375rem 3.25rem 3.25rem 3.25rem;
  color: #FFFFFF;
  max-width: 34.375rem;
  max-height: 44.375rem;
}
.card h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  padding-bottom: 1rem;
}
@-webkit-keyframes animation {
  0% {
    background: linear-gradient(to left, #10B981, #9198e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background: linear-gradient(to right, #9198e5, #10b981, #9198e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: linear-gradient(to left, #9198e5, #10B981);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@keyframes animation {
  0% {
    background: linear-gradient(to left, #10B981, #9198e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background: linear-gradient(to right, #9198e5, #10b981, #9198e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: linear-gradient(to left, #9198e5, #10B981);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.card strong {
  background: linear-gradient(to left, #10B981, #9198e5);
  -webkit-animation: animation 1s infinite;
          animation: animation 1s infinite;
}
.card__text {
  border-bottom: 1px solid #2F3E53;
  padding-bottom: 2rem;
}
.card__text p {
  color: #D5D4D8;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.1rem;
}
.card__text__btn {
  margin-top: 3.1875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.card__text .input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__text .input-container p {
  font-size: 0.85rem;
}
.card__text .input-container .strength {
  font-size: 0.8rem;
  color: red;
}
.card__text .input-container .input-box {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
.card__text .input-container .input-box input {
  background: transparent;
  border: none;
  text-align: center;
  max-width: 3.5rem;
  color: #FFFFFF;
  font-size: 1.4rem;
}
.card__text .input-container .input-box input:focus {
  outline: none;
}
.card__password {
  margin-top: 2.1875rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.6875rem;
}
.card__password__box {
  flex-basis: 45%;
  width: 13.125rem;
  height: 2.5rem;
  background: #273549;
  border-radius: 6px;
  text-align: center;
  line-height: 2.7;
  cursor: pointer;
  color: #10B981;
  position: relative;
}
.card__password__box #copy-icon {
  position: absolute;
  top: -15px;
  right: -10px;
  fill: #FFFFFF;
}
.card__password span {
  position: absolute;
  font-size: 0.85rem;
  width: 55px;
  height: 20px;
  background: #10B981;
  border-radius: 3px 0 3px 0;
  border: none;
  color: #FFFFFF;
  right: 0;
  bottom: 0;
  text-align: center;
  font-weight: 500;
  z-index: 2;
  line-height: 1.5;
  opacity: 0;
}

@media (max-width: 650px) {
  .card {
    margin: 0;
    padding: 1.5rem;
  }
  .card__text {
    text-align: center;
  }
  .card__text__btn {
    gap: 0rem;
  }
  .card__password {
    gap: 0.2rem;
    font-size: 0.75rem;
    line-height: 1.7;
  }
  .card__password__box {
    line-height: 3.5;
  }
}
button {
  cursor: pointer;
  border: none;
}

button:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.generate-btn {
  background: #10B981;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5625rem 1.25rem 0.5625rem 0;
  font-weight: 500;
  border-radius: 0.375rem;
  width: 14.0625rem;
  height: 2.8125rem;
}
.generate-btn rect {
  fill: transparent;
}

.input-btn {
  background: transparent;
  color: #10B981;
  font-size: 1.5rem;
  font-weight: 500;
}

.input-btn:active {
  transform: scale(0.955);
  color: #10b981a9;
}/*# sourceMappingURL=style.css.map */